<?xml version='1.0' encoding='utf-8'?>
<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: 
	GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the 
	lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost/pgdb</property>
		<property name="connection.username">pguser</property>
		<property name="connection.password">pguser</property>
		
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">25</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">30</property>


		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Mappings -->
		<mapping class="facebroke.model.User" />
		<mapping class="facebroke.model.Wall" />
		<mapping class="facebroke.model.Post" />
		<mapping class="facebroke.model.Comment" />
		<mapping class="facebroke.model.Image" />
		<mapping class="facebroke.model.DummyDataInfo" />

	</session-factory>

</hibernate-configuration>
