body {
	padding-top: 60px;
}

.navbar {
	background-color: #3b5998;
}

.navbar-header a {
	color: #FFF;
	font-size: 30px;
}

.navbar .navbar-toggle .icon-bar {
	background-color: #FFF;
	width: 30px;
	height: 2px;
}

.reg-block {
	padding-top: 50px;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 40px;
}

.user-dropdown-toggle, .user-dropdown-toggle:hover, .open>.user-dropdown-toggle {
	color: #FFF;
	background-color: #3b5998;
	font-size: 25px;
}

.nav > li > a:focus, 
.nav > li > a:hover, 
.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover {
	color: #FFF;
	background-color: #3b5998;
	text-decoration: underline;
}

.dropdown-menu > li > a {
	color: #FFF;
}

.alert-message {
	position: fixed;
	top: 50px;
	z-index: 7000;
}